<div class="footer">
        <div class="address">
            <p>
                Petra Ambroselli Ingenieurbüro <br />
                Friesacker Str. 7B <br />
                12623 Berlin
            </p>
        </div>

        <div class="contact">
            <p>
                <a href="tel:00493025096545" class="no-highlight">+49 30 250 965 45</a><br />
                <a href="tel:00491783620947" class="no-highlight">+49 178 36 209 47</a><br />
                <a href="mailto:post@ambroselli-ib.de">post@ambroselli-ib.de</a>
            </p>
        </div>

        <div class="appointment">
                <p>
                    <a href="mailto:post@ambroselli-ib.de">Kostenfreies Erstgespr&auml;ch <br />
                            vereinbaren →</a>
                </p>
        </div>

</div>