<nav class="main">
  <a href="/" class="logo">
    <h1>Petra Ambroselli Ingenieurb&uuml;ro</h1>
    <h2>Architektenplanung bis Baufertigstellung</h2>
  </a>


  <span class="menu">
    <a href="/" {% if page.url == "/" %}class="active"{% endif %}>Willkommen</a>
    <a href="/team.html" {% if page.url == "/team.html" %}class="active"{% endif %}>Team</a>
    <a href="/projekte.html" {% if page.url == "/projekte.html" %}class="active"{% endif %}>Projekte</a>
    <a href="/bauherren.html" {% if page.url == "/bauherren.html" %}class="active"{% endif %}>Bauherren</a>
    <a href="/kontakt.html" {% if page.url == "/kontakt.html" %}class="active"{% endif %}>Kontakt</a>
  </span>

</nav>
