<nav class="main">
  <a href="/" class="logo">
    <h1>Petra Ambroselli Ingenieurb&uuml;ro</h1>
  </a>
    <h2>Architektenplanung bis Baufertigstellung</h2>


  <span class="menu">
    <a href="/" {% if page.url == "/" %}class="active"{% endif %}>Willkommen</a>
    <a href="/team" {% if page.url == "/team" %}class="active"{% endif %}>Team</a>
    <a href="/projekte" {% if page.url == "/projekte" %}class="active"{% endif %}>Projekte</a>
    <a href="/bauherren" {% if page.url == "/bauherren" %}class="active"{% endif %}>Bauherren</a>
    <a href="/kontakt" {% if page.url == "/kontakt" %}class="active"{% endif %}>Kontakt</a>
  </span>

</nav>
