.footer {
    background-color: $light-background-color;
    width: 100%;
    position:absolute;
    bottom: 0;
    padding: 20px 50px;

    > div {
        display: inline-block;
        font-weight: 200;
        font-size: 1.1em;
        line-height: 1.5em;

        a {
            color: inherit;

            &.no-highlight {
                text-decoration: none;
            }
        }
    }

    .contact {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .appointment {
        position: absolute;
        right: 50px;
        font-weight: 500;
        color: #036DBE;
        padding-top: 15px;
        a {
            text-decoration: none;
        }
    }
}