nav.main {
    padding: 30px 40px 20px;
    background-color: $background-color;
    position: fixed;
    left: 10px;
    @media screen and (max-width: $nav-mobile-max-width) {
       left: 0px;
    }
    width: 100%;
    z-index: 50;

    @media screen and (max-width: $nav-mobile-max-width) {
        position: relative;
    }

    .logo {
        text-decoration: none;
        h1 {
            font-size: 25px;
            font-weight: 600;
            color: $dark-color;
            margin: 0;
            display: inline-block;
        }

        @media screen and (max-width: $nav-mobile-max-width) {
            h1 {
                display: block;
            }
        }
    }

    h2 {
        margin-top: 10px;
        font-size: 22px;
        font-weight: 100;
        color: $light-color;
    }

    @media screen and (max-width: $nav-mobile-max-width) {
        h1, h2 {
            text-align: center;
            display: block;
        }

        h2 {
            font-size: 1.2em;
        }
    }

    .menu {
        padding-right: 20px;
        top: 84px;
        position: absolute;
        right: 40px;

        @media screen and (max-width: $nav-mobile-max-width) {
            position: relative;
            top: 15px;
            right: initial;
            padding-right: 0;
            text-align: center;
            display: block;
            margin-bottom: 15px;
            a {
                margin-bottom: 10px;
                text-align: center;
            }
        }

        @media screen and (max-width: 720px) {
            margin-bottom: initial;
            a {
                display: block;
            }
        }

        a {
            text-decoration: none;
            text-transform: uppercase;
            color: $light-color;
            padding: 0 20px;

            &.active {
                color: $dark-color;
                font-weight: bolder;
            }
        }
    }
}