nav.main {
    padding: 60px 40px 20px;
    background-color: $background-color;
    position: fixed;
    left: 10px;
    width: 100%;
    z-index: 50;

    .logo {
        text-decoration: none;
        h1 {
            font-size: 25px;
            font-weight: 600;
            color: $dark-color;
            margin: 0;
        }

        h2 {
            margin-top: 10px;
            font-size: 21px;
            font-weight: 100;
            color: $light-color;
        }
    }

    .menu {
        padding-right: 20px;
        top: 84px;
        position: absolute;
        right: 40px;

        a {
            text-decoration: none;
            text-transform: uppercase;
            color: $light-color;
            padding: 0 20px;

            &.active {
                color: $dark-color;
                font-weight: bolder;
            }
        }
    }
}