.index {
    .slideshow {
        width: 60%;
        display: inline-block;
        img {
            width: 100%;
        }
    }
    .text {
        width: 39%;
        vertical-align: top;
        padding-left: 3%;
        display: inline-block;

        max-height: 650px;
        overflow: scroll;
        overflow-y: scroll;

        h2 {
            font-size: 1.6em;
        }

        p {
            font-size: 1.2em;
            font-weight: 300;
        }

        .spacer {
            width: 80px;
            height: 1px;
            background-color: $light-color;
            margin: 70px 0;
        }

        &::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 7px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: rgba(0,0,0,.5);
            -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
        }
    }
}