.index {

    .landing { 
        /* The image used */
        background-image: url("/assets/images/landing.png");
    
        /* Full height */
        height: 100vh; 
        top: 0;
        left: 0;
        width: 100%;
        z-index: -50;
    
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        h2 {
            font-family: $headlines-font;
            position: absolute;
            bottom: 20%;
            left: 5%;
            color: #FFFFFF;
            text-shadow: 0 2px 4px rgba(0,0,0,0.66);
            font-size: 3em;
            font-weight: 400;
        }
    }

    .content-big {
        padding-top: 50px;
        h2,h3 {
            text-align: center;
            font-weight: 300;
        }

        .subheadline {
            max-width: 600px;
            text-align: center;
            margin-left: 50%;
            transform: translateX(-50%);;
            color: #333333;
        }

        .content {
            display: flex;
            .item {
                img {
                    width: 200px;
                }
            }
        }

    }

}