$base-color: #c6538c;
$link-color: #333;
$subheadline-color: #282828;
$dark-color: #333333;
$background-color: #FFFFFF;
$light-background-color: #FAF8F8;
$white: #FFFFFF;
$selection-background-color: #EEEEEE;
$light-color: #999999;
$main-font: "Helvetica";
$headlines-font: "Helvetica";
$nav-height: 45px;
$side-margin: 50px;

* {
  box-sizing: border-box;
}

body {
  font-family: $main-font;
  padding-top: $nav-height;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,h2,h3,h4,h5 {
  font-family: $headlines-font;
}

.main-content {
  margin: 180px $side-margin 0px;
  flex: 1 0 auto;
}
