.projects-page {
    


    .links {
        padding: 20px 0;
        text-align: center;
        .item {
            cursor: pointer;
            display: inline-block;
            margin: 0 15px;
            padding: 10px 20px;
            border-radius: 5px;
            color: $dark-color;
            &.active {
                background-color: $selection-background-color;
                color: $dark-color;
            }
        }
    }

    .items {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 1200px;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 50px;


        @media screen and (min-width: $mobile-max-width) {
            margin-left: 50%;
            transform: translateX(-50%);
        }

        .item {
            min-width: 270px;
            max-width: 320px;
            cursor: pointer;
            flex: 1;
            margin: 0px 40px 20px;
            img.picture {
                width: 100%;
            }

            p {
                margin: 0;

                &.headline {
                    color: $subheadline-color;
                    margin-top: 15px;
                    font-weight: 600;
                    font-size: 0.9em;
                }
                &.sub-headline {
                    color: $light-color;
                    font-size: 0.8em;
                    margin-top: 5px;
                }
            }
        }

        .construction-active-arrow {
            width: 50px;
            height: auto;
            margin-left: 50%;
            transform: translateX(-50%);
            margin-top: 20px;

            &.hidden {
                display: none;
            }
        }

        .details {
            width: calc(100% - 80px);
            @media screen and (max-width: $mobile-max-width) {
                width: 100%;
            }
            
            background-color: $light-background-color;
            padding: 40px;
            margin-bottom: 40px;
            display: flex;
            flex-direction: row;
            position: relative;
            overflow: hidden;
            transition: max-height 0.25s ease-in;

            .mobile-image {
                display: none;
                @media screen and (max-width: $mobile-max-width) {
                    display: block;
                    width: 100%;
                    height: auto;
                    margin-bottom: 20px;
                }
            }

            &.hidden {
                max-height: 0;
                padding: 0;
                display: none;
            }

            .close-button {
                height: 24px;
                width: 24px;
                background-image: url('/assets/svg/close.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                cursor: pointer;
                position: absolute;
                right: 20px;
                top: 20px;

            }

            .slideshow {
                width: 65%;
                height: 100%;
                @media screen and (max-width: $mobile-max-width) {
                    display: none;
                }

                .slideshow-container {
                    position: relative;
                    overflow: hidden;
                    height: 100%;
                    width: 100%;

                    .slideshow-image {
                        height: 100%;
                        width: 100%;
                        content: '';

                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                }

                .arrow {
                    display: block;
                    content: '';
                    width: 50px;
                    height: 50px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    margin-left: 50%;
                    margin-right: 50%;
                    cursor: pointer;
                    &.prev {
                        position: absolute;
                        margin-top: 0;
                        top: 20px;
                        background-image: url('/assets/svg/arrow.svg');
                    }
                    &.next {
                        position: absolute;
                        bottom: 20px;
                        margin-bottom: 0;
                        background-image: url('/assets/svg/arrow-next.svg');
                    }
                }
            }

            .text {
                padding-left: 50px;
                max-width: 35%;
                @media screen and (max-width: $mobile-max-width) {
                    max-width: initial;
                    padding-left: initial;
                    display: flex;
                    flex-direction: column;
                    .details-headline {
                        order: 1;
                    }
                    .description {
                        order: 2;
                    }
                    .construction-start {
                        order: 3;
                        margin-bottom: 10px;
                    }
                    .construction-end {
                        order: 4;
                        margin-bottom: 10px;
                    }
                    .links {
                        order: 5;
                    }
                }
                h3,h4 {
                    margin: 0;
                }
                .description {
                    color: $light-color;
                    font-size: 0.8em;
                    line-height: 1.7em;
                }
                .links {
                    margin: 5px 0 0 0;
                    padding: 0;
                    max-height: 15vw;
                    overflow: scroll;
                    text-align: left;

                    @media screen and (max-width: $mobile-max-width) {
                        max-height: initial;
                        overflow: initial;
                    }

                    span {
                        display: block;
                        color: $light-color;
                        font-size: 0.8em;
                        line-height: 2em;
                        cursor: pointer;

                        &.active {
                            color: $dark-color;
                            font-weight: 600;
                        }

                        @media screen and (max-width: $mobile-max-width) {
                            
                            &.active {
                                color: $light-color;
                                font-weight: initial;
                            }
                        }
                    }

                    &::-webkit-scrollbar {
                        -webkit-appearance: none;
                        width: 7px;
                    }
                    &::-webkit-scrollbar-thumb {
                        border-radius: 4px;
                        background-color: rgba(0,0,0,.5);
                        box-shadow: 0 0 1px rgba(255,255,255,.5);
                        -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
                    }
                }
            }
        }
    }
}
