.projects-page {
    
    .links {
        padding: 20px 0;
        text-align: center;
        .item {
            cursor: pointer;
            display: inline-block;
            margin: 0 15px;
            padding: 10px 20px;
            border-radius: 5px;
            color: $dark-color;
            &.active {
                background-color: $dark-color;
                color: $white;
            }
        }
    }

    .items {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 1200px;
        margin-left: 50%;
        transform: translateX(-50%);
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 50px;

        .item {
            min-width: 320px;
            max-width: 320px;
            flex: 1;
            margin: 0px 40px 20px;
            img.picture {
                width: 100%;
            }

            p {
                margin: 0;

                &.headline {
                    color: $subheadline-color;
                    margin-top: 15px;
                    font-weight: 600;
                    font-size: 0.9em;
                }
                &.sub-headline {
                    color: $light-color;
                    font-size: 0.8em;
                    margin-top: 5px;
                }
            }
        }

        .construction-active-arrow {
            width: 50px;
            height: auto;
            margin-left: 50%;
            transform: translateX(-50%);
            margin-top: 20px;
        }

        .details {
            width: calc(100% - 80px);
            background-color: $light-background-color;
            padding: 40px;
            margin-bottom: 40px;
            display: flex;
            flex-direction: row;
            position: relative;

            .slideshow {
                width: 65%;
                height: 100%;

                .slideshow-container {
                    position: relative;
                    overflow: hidden;
                    height: 100%;
                    width: 100%;

                    .slideshow-image {
                        height: 100%;
                        width: 100%;
                        content: '';

                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                }

                .arrow {
                    display: block;
                    content: '';
                    width: 50px;
                    height: 50px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    margin-left: 50%;
                    margin-right: 50%;
                    cursor: pointer;
                    &.prev {
                        position: absolute;
                        margin-top: 0;
                        top: 20px;
                        background-image: url('/assets/svg/arrow.svg');
                    }
                    &.next {
                        position: absolute;
                        bottom: 20px;
                        margin-bottom: 0;
                        background-image: url('/assets/svg/arrow-next.svg');
                    }
                }
            }

            .text {
                padding-left: 50px;
                max-width: 35%;
                h3,h4 {
                    margin: 0;
                }
                .description {
                    color: $light-color;
                    font-size: 0.8em;
                    line-height: 1.7em;
                }
                .links {
                    margin: 5px 0 0 0;
                    padding: 0;
                    max-height: 15vw;
                    overflow: scroll;
                    text-align: left;

                    span {
                        display: block;
                        color: $light-color;
                        font-size: 0.8em;
                        line-height: 2em;
                        cursor: pointer;

                        &.active {
                            color: $dark-color;
                            font-weight: 600;
                        }
                    }

                    &::-webkit-scrollbar {
                        -webkit-appearance: none;
                        width: 7px;
                    }
                    &::-webkit-scrollbar-thumb {
                        border-radius: 4px;
                        background-color: rgba(0,0,0,.5);
                        -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
                    }
                }
            }
        }
    }
}
