.team-page {
    max-width: 100vw;
    overflow: hidden;
    
    .header {
        width: 100%;
    }
    .properties {
        display: flex;
        flex-flow: row;
        p {
            text-align: center;
            font-size: 1.3em;
            font-weight: 600;
            margin: 50px 0;
            color: $dark-color;
            width: 33%;
        }

        @media screen and (max-width: $mobile-max-width) {
            flex-flow: column;
            margin: 20px 0;
            p {
                width: 100%;
                margin: 20px 0;
            }
        }
    }

    .center-line {
        text-align: center;
        margin: 100px 0;

        @media screen and (max-width: $mobile-max-width) {
            margin: 40px 0;
        }

        p {
            text-align: center;
            font-size: 1.3em;
            font-weight: 600;
            color: $dark-color;
        }
    }
    
    .banner {
        background-color: $light-background-color;
        padding: $side-margin;
        padding-left: $side-margin+10px;
        width: calc(100% + #{$side-margin} + #{$side-margin});
        margin-left: -$side-margin;

        .content {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            @media screen and (max-width: $mobile-max-width) {
                flex-direction: column;
            }

            .small-text {
                color: $light-color;
                font-size: 0.95em;
                font-weight: 500;
                line-height: 1.4em;
            }

            .card {
                width: 450px;
                margin-right: 5%;
                border-radius: 10px;
                background-color: $white;
                box-shadow: 0 3px 5px 0 rgba(213,213,213,0.50);

                @media screen and (max-width: $mobile-max-width) {
                    width: calc(100% - 40px);
                    margin-right: 0;
                }

                img {
                    width: 100%;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }
                .text-content {
                    padding: 15px;
                    h2 {
                        margin: 0;
                        font-size: 1.2em;
                        color: $subheadline-color;
                    }

                }
            }

            .persons {
                .person {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin: 20px 0;
                    margin: 7% 10px;

                    img {
                        width: 80px;
                        height: auto;
                        border-radius: 80px;
                    }

                    h3 {
                        margin: 0;
                    }

                    .right {
                        margin-left: 20px;
                        p {
                            margin: 5px 0;
                        }
                    }
                }
            }
        }
    }
}