<!DOCTYPE html>
<html lang="de">
<head>
        <title>Petra Ambroselli Ingenieurb&uuml;ro {{ page.title}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="Im Petra Ambroselli Ingenieurb&uuml;ro stehen wir Ihnen von den ersten Vorentw&uuml;rfen bis zur Vollendung Ihres Bauvorhabens hilfreich zur Seite." />
	<meta name="author" content="Petra Ambroselli" />
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
        <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
    {% include header.html %}
    <div class="main-content">
        {{ content }}
    </div>
    {% include footer.html %}
</body>
</html>
